*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

h2,
h3,
p {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

:target {
  scroll-margin-top: 80px;
}
