@import "./utils/variables";
@import "./base";

@import "./components/burger-button";
@import "./components/burger-close-btn";
@import "./components/my-photo";
@import "./components/arrow-btn";
@import "./components/slider";
@import "./components/icons";
@import "./components/scroll-top-btn";
@import "./components/theme-button";
@import "./components/pagination";

@import "./layouts/container";
@import "./layouts/section-title";
@import "./layouts/header";
@import "./layouts/about-me-section";
@import "./layouts/portfolio-section";
@import "./layouts/certificates-section";
@import "./layouts/contacts-section";
@import "./layouts/footer-section";
@import "./layouts/experience";
@import "./layouts/hero-section";
@import "./layouts/stack-section";
