:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #a28268;
  --color-main-dark: #2e1313;
  --color-main-normal: #8d4848;
  --color-main-light: #da8b8b;
}
