.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-main-normal);
  opacity: 0.5;
  transition: all 0.3s ease;
  cursor: pointer;

  &.active {
    background-color: var(--color-main-dark);
    opacity: 1;
    transform: scale(1.2);
  }
}
