.slider {
  overflow: hidden;
  width: 100%;
  max-width: 1100px;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 20px 0;
  }

  &__slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  &__slide {
    flex: 0 0 100%;
    text-align: center;
    padding: 0 10px;
  }

  &__iframe {
    border: 1px solid var(--color-main-normal);
    border-radius: 12px;
    width: 100%;
    max-width: 700px;
    transition: transform 0.3s ease;
  }

  &__iframe:hover {
    transform: scale(1.03);
  }

  &__link {
    text-decoration: none;
  }

  &__span {
    color: var(--color-main-light);
    font-weight: 700;
    transition: 0.3s ease-out;
  }

  &__slide:hover &__span {
    color: var(--color-main-normal);
  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
  }

  @media (max-width: 768px) {
    & {
      width: 75%;
    }
    &__iframe {
      height: 260px;
    }
  }
}
