.swiper {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 85%;

  &__iframe {
    border: 1px solid var(--color-main-normal);
    border-radius: 12px;
    width: 100%;
    max-width: 440px;
  }

  &__link {
    text-decoration: none;
  }

  &__span {
    color: var(--color-main-normal);
    font-weight: 700;
    transition: 0.3s ease-out;
  }

  @media (max-width: 768px) {
    & {
      width: 100%;
    }
    &__iframe {
      height: 260px;
    }
  }
}

.slider__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px 0;
}
