.theme-toggle {
  position: fixed;
  bottom: 30px;
  left: 30px;
  background: var(--color-main-normal);
  color: var(--color-primary-light);
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background: var(--color-main-dark);
  }
}
