.about__me {
  padding: 100px 20px;

  &__text__section {
    flex: 1 1 500px;
  }

  &__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &__text {
    font-size: 18px;
    line-height: 1.7;
    opacity: 0.9;
    margin-bottom: 16px;
  }

  @media (max-width: 768px) {
    &__section {
      text-align: center;
    }
    &__text {
      margin: 0 auto 16px;
    }
  }
}
