.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 40px;
    padding: 20px 25px;
  }

  &__item {
    list-style: none;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: var(--color-primary-light);
    transition: color 0.3s ease;
  }

  &__link::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color-main-light);
    transition: width 0.3s ease;
  }

  &__link:hover {
    color: var(--color-main-light);
  }

  &__link:hover::after {
    width: 100%;
  }

  @media (max-width: 768px) {
    &__nav {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      background: var(--color-main-dark);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: right 0.3s ease;
      z-index: 1;
    }

    &__nav.active {
      right: 0;
    }

    &__menu {
      flex-direction: column;
      gap: 28px;
    }

    &__link {
      font-size: 20px;
      font-weight: 400;
    }
  }
}
