.stack {
  &__section {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__image-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
    transition: 0.5s;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
  }

  &__image-wrapper:hover {
    background-color: rgba(255, 255, 255);
    box-shadow: var(--color-main-light) 0px 0px 50px 0;
  }

  &__image {
    transition: 0.5s;
    opacity: 0.5;
    filter: grayscale(100%);
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  &__image-wrapper:hover &__image {
    opacity: 1;
    filter: none;
  }

  @media (max-width: 992px) {
    &__section {
      width: 100%;
      justify-content: space-around;
      padding: 0 40px;
    }
    &__image-wrapper {
      width: 80px;
      height: 80px;
    }
    &__image {
      width: 40px;
      height: 40px;
      filter: none;
      opacity: 1;
    }
  }
}
